@model Neoma.Models.MembreProjetViewModel.MembreProjetViewModel
@using Neoma.Extensions

@functions{
    List<SelectListItem> Role(List<Role> list, Role role)
    {
        List<SelectListItem> selectList = new List<SelectListItem>();

        foreach (var item in list)
        {
            if (item == role)
            {
                selectList.Add(new SelectListItem
                {
                    Text = item.Name,
                    Value = item.Id.ToString(),
                    Selected = true
                });
            }
            else
            {
                selectList.Add(new SelectListItem
                {
                    Text = item.Name,
                    Value = item.Id.ToString()
                });
            }
        }

        return selectList;
    }
}

<div class="row row-with-btn mb-3">
    <input type="hidden" id="idBesoin" value="@(Model.Besoins == null ? 0 : Model.Besoins[0].Id)" />
    <div class="col-3">
        <label>Rôle</label>
        <select id="Role" asp-items="@(Model.Besoins == null ? Model.Role.ToSelectListItem(0) : Role(Model.Role, Model.Besoins[0].Role))" class="form-control Role"></select>
    </div>
    <div class="col-6">
        <label>Spécialité</label>
        <select class="form-control make-select2 specialite" multiple="multiple">
            @foreach (Specialite CetteSpec in Model.Specialite)
            {
                <option value="@CetteSpec.Id">@CetteSpec.Name</option>
            }
        </select>
    </div>
</div>