@model Neoma.Models.ProjetViewModel.ViewProjetViewModel
@using Neoma.Extensions
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Projets";
}

@section Scripts{
    <script type="text/javascript" src="~/js/pagination.js"></script>
    <script type="text/javascript" src="~/js/filtersearchprojet.js"></script>
    <script>
        $(function () {
            $("body").on("change", ".filter", function () {
                UpdateCall();
            })

            $('#searchText').keyup(delay(function () {
                UpdateCall()
            }, 1000));

            function delay(callback, ms) {
                var timer = 0;
                return function () {
                    var context = this, args = arguments;
                    clearTimeout(timer);
                    time = setTimeout(function () {
                        callback.apply(context, args);
                    }, ms || 0);
                };
            }

            function UpdateCall() {
                var chaineRecherche = $("#searchText").val();
                chaineRecherche = chaineRecherche ? chaineRecherche.toLowerCase() : chaineRecherche;
                var SelectedFilterProject = {};
                SelectedFilterProject.Role = $('.role').val();
                SelectedFilterProject.TypeProjet = $('.type').val();
                SelectedFilterProject.Organisme = $('.organisme').val();
                SelectedFilterProject.TexteRecherche = chaineRecherche;
                var items = JSON.stringify(SelectedFilterProject);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("TableProjet", "MatchingCandidat")',
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    data: items,
                    success: function (data) {
                        $("#tableProjet").html(data);
                        HighlightSearch();
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                })
                
            }

            getPagination('.items-listing');

            $('.btn-grid').click(function () {
                $(this).addClass('active');
                $('.items-listing').addClass('grid');
                $('.items-listing').removeClass('list');
                $('.btn-list').removeClass('active');
            });
            $('.btn-list').click(function () {
                $(this).addClass('active');
                $('.items-listing').addClass('list');
                $('.items-listing').removeClass('grid');
                $('.btn-grid').removeClass('active');
            });
        })
    </script>
}

<div class="page-top">
    <nav class="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Accueil</a>
            </li>
            <li class="breadcrumb-item">
                <a>Projets</a>
            </li>
            <li class="breadcrumb-item active">
                Matching
            </li>
        </ol>
    </nav>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-12">

        <!-- EMAIL / NEW USER -->
        <section class="neobox">
            <div class="neobox-header">
                <div class="neobox-header-container">
                    <div class="neo-select-control">
                        <label>Organisation</label>
                        <select asp-items="Model.Organisme.ToSelectListItem(0)" class="filter organisme"></select>
                    </div>
                    <div class="neo-select-control">
                        <label>Type de projet</label>
                        <select asp-items="Model.TypeProjet.ToSelectListItem(0)" class="filter type"></select>
                    </div>
                    <div class="neo-select-control">
                        <label>Rôle</label>
                        <select asp-items="Model.Role.ToSelectListItem(0)" class="filter role"></select>
                    </div>
                    <div class="neo-select-control">
                        <label>Ligne à afficher</label>
                        <select id="maxRows">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="50">50</option>
                            <option value="0" selected>Tous</option>
                        </select>
                    </div>
                </div>

                <div class="neobox-header-container">
                    <div class="neo-search-control">
                        <i class="icon-search"></i>
                        <input id="searchText" type="text" class="form-control" placeholder="Rechercher" />
                    </div>
                    <div class="btn-group ml-2">
                        <span class="btn btn-outline btn-grid">
                            <i class="fa fa-grip-horizontal"></i>
                        </span>
                        <span class="btn btn-outline btn-list active">
                            <i class="fa fa-list"></i>
                        </span>
                    </div>
                </div>

            </div>

            <div class="neobox-content p-0">
                <ul class="items-listing list" id="tableProjet">
                    @await Component.InvokeAsync("TableProjetMatching", null)
                </ul>
            </div>

        </section>

        <div class="neo-pagination mt-5 mb-5">
            <div class="neo-pagination-left">
                <a class="neo-pagination-link">
                    <i class="icon-start"></i>
                </a>
            </div>
            <div class="neo-pagination-center">

            </div>
            <div class="neo-pagination-right">
                <a class="neo-pagination-link">
                    <i class="icon-end"></i>
                </a>
            </div>
        </div>

    </div>
</div>


