@model int

<button type="button" class="btn btn-square btn-success btn-sm ml-2 edit" disabled data-id="@Model">
    <i class="fa fa-save"></i>
</button>
<a class="btn btn-square btn-danger btn-sm ml-2" asp-action="Delete" asp-route-id="@Model">
    <i class="fa fa-times"></i>
</a>