@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Mot de passe oublié";
}

<div class="row justify-content-md-center">
    <div class="col-md-6">

        <!-- EMAIL / NEW USER -->
        <section class="neobox mt-5">
            <div class="neobox-title">
                <h2>@ViewData["Title"]</h2>
            </div>
            <div class="neobox-content extra-padding text-center">
                <p>Un mail vous à été envoyé pour réinitialiser votre mot de passe.</p>
            </div>
        </section>
    </div>
</div>

