@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Mot de passe oublié";
}

<div class="row justify-content-md-center">
    <div class="col-md-6">

        <!-- EMAIL / NEW USER -->
        <section class="neobox mt-5">
            <div class="neobox-title">
                <h2>@ViewData["Title"]</h2>
            </div>
            <div class="neobox-content extra-padding">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center mt-5">
                        <button type="submit" class="btn btn-large">Envoyer</button>
                    </div>
                    
                </form>
            </div>
        </section>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
