@page
@model RegisterConfirmationModel

@{
    ViewData["Title"] = "Confirmation de l'inscription";
}

<div class="row justify-content-md-center">
    <div class="col-md-6">
        <section class="neobox mt-5">
            <div class="neobox-title">
                <h2>@ViewData["Title"]</h2>
            </div>
            <div class="neobox-content extra-padding text-center">
                <p>Un mail vous à été envoyé pour valider votre compte.</p>
            </div>
        </section>
    </div>
</div>