@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmation du changement de mot de passe";
}

<div class="row justify-content-md-center">
    <div class="col-md-6">

        <!-- EMAIL / NEW USER -->
        <section class="neobox mt-5">
            <div class="neobox-title">
                <h2>@ViewData["Title"]</h2>
            </div>
            <div class="neobox-content extra-padding text-center">
                <p>
                    Votre mot de passe a été changé. Veuillez <a asp-page="./Login">cliquer ici pour vous connecter</a>.
                </p>
            </div>
        </section>
    </div>
</div>