@using Neoma.RazorClassLib.Views.Emails.ResetPassword
@using Neoma.RazorClassLib.Views.Shared
@model ResetPasswordViewModel
@{
    ViewData["EmailTitle"] = "Modification mot de passe";
}
<p>
    Cliquez sur le lien ci-dessous pour modifier votre mot de passe.
</p>
<br />
@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Modifier mot de passe", Model.ResetEmailUrl))
