@using Neoma.RazorClassLib.Views.Shared
@using Neoma.RazorClassLib.Views.Emails.AcceptCandidature
@model AcceptCandidatureEmailViewModel
@{
    ViewData["EmailTitle"] = "Candidature acceptée";
}
<p>
    Votre candidature pour le projet <b>@Model.ProjetName</b> a été acceptée.
</p>
<br />
@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Consulter détail", Model.EmailUrl))